<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <meta name="description" content="Página de información del grupo estopa.">
    <link rel="stylesheet" type="text/css" href="../assets/styles/footer.css">

</head>
<body>
    <footer class="footer">
        <p>2024 &copy; Daniel Alarcón Nuño</p>
        <p>Para la asignatura <abbr title="Hypertext Markup Language" lang="en">HTML I</abbr></abbr></p>
    </footer>
</body>
</html>