<footer class="footer">
    <div class="container-fluid">
        <div class="flex-footer">
            <div>
                <img src="../assets/images/logo.svg" alt="Logo estopa" width="100" height="52" loading="lazy">
                <p>2024 &copy; Daniel Alarcón Nuño</p>
                <p>Para la asignatura <abbr title="Hypertext Markup Language" lang="en">HTML I</abbr></abbr></p>
            </div>

            <div class="footer-right">
                <ul class="legal">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="categoria.html">Categoría</a></li>
                    <li><a href="presentacion.html">Presentación</a></li>
                    <li><a href="enlaces.html">Enlaces</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>
