<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de información del grupo estopa.">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">

    <title>Historia</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/historia.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/footer.css">
</head>
<body>
    <include src="src/views/menu.html" locals='{ "presentacion": "", "categoria": "current", "enlaces": "" }'></include>

    <div class="navegacion">
        <a href="../index.html">Inicio</a> >
        <a href="categoria.html#origen">Categoría</a> >
        <span><b>Carrera de Estopa</b></span>
    </div>
    <main>
        <div class="general-entrada">
        <div class="entrada-principal">
            <div class="entrada-cabecera">
                <img src="../assets/images/concert-3387324_1280.jpg" style="width: 100%;" alt="Concierto de estopa">
                <div class="titulo-entrada">
                    <p class="titular-entrada-principal">Carrera de Estopa</p>
                    <p>Imagen de <a href="https://pixabay.com/es/users/thekaleidoscope-8956502/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3387324">Vishnu R</a> en <a href="https://pixabay.com/es//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3387324">Pixabay</a></p>
                </div>

            </div>
            <div class="contenido-principal">
                <p class="titulo-texto">Historia</p>
                <p class="texto">Estopa es un dúo de música española formado por los hermanos David y José Manuel Muñoz. Su estilo musical fusiona rock, flamenco, rumba y otros géneros, creando un sonido único y distintivo que los ha convertido en uno de los grupos más influyentes del panorama musical español.

                </p>
                <p class="texto">La carrera de Estopa despegó en 1999 con el lanzamiento de su álbum debut homónimo, que incluía éxitos como "La Raja de Tu Falda" y "Como Camarón". Este álbum fue un éxito instantáneo y les valió numerosos premios y reconocimientos.
                </p>
                <p class="texto">A lo largo de los años, Estopa ha lanzado varios álbumes de estudio, recopilatorios y en directo, consolidando su posición como uno de los grupos más importantes de la música española. Canciones como "El Run Run", "Vino Tinto" y "Cuando Amanece" se han convertido en himnos generacionales y han sido aclamadas tanto por la crítica como por el público.
                </p>
                <p class="texto">Además de su éxito en España, Estopa ha llevado su música a escenarios internacionales, realizando giras por América Latina, Estados Unidos y Europa, donde han cosechado un gran número de seguidores.
                </p>
                <p class="texto">A lo largo de su carrera, Estopa ha ganado numerosos premios, incluidos varios premios Grammy Latinos y premios Billboard. Su influencia en la música española es innegable y su legado perdurará por generaciones.
                </p>
                <p class="texto">En resumen, la carrera de Estopa es un viaje musical lleno de éxitos, innovación y pasión por la música, que ha dejado una huella imborrable en la escena musical española y ha conquistado corazones en todo el mundo.
                </p>
            </div>
        </div>

        <div class="articulos-recientes">
            <p class="titular-lateral">Imágenes</p>
            <div class="cont2 lateral">
                <div class="imagen-entrada">
                    <img src="../assets/images/estopa7-t.jpg" alt="Hermanos estopa">
                </div>
                <div class="texto-img">
                    <p class="autor-entrada-secundaria">Pablo Motos y Estopa, en 'El Hormiguero' Antena 3. <a href="https://www.atresmedia.com/">Imagen de atresmedia</a></p>
                </div>
            </div>

            <div class="cont2 lateral">
                <div class="imagen-entrada">
                    <img src="../assets/images/entradas-estopa-2024-1080x628.png" alt="Hermanos estopa">
                </div>
                <div class="texto-img">
                    <p class="autor-entrada-secundaria">Por <a href="https://group.seetickets.com/sp/entradas-estopa-2024/">seetickets</a></p>
                </div>
            </div>

            <div class="cont2 lateral">
                <div class="imagen-entrada">
                    <img src="../assets/images/hermanos.jpg" alt="Hermanos estopa">
                </div>
                <div class="texto-img">
                    <p class="autor-entrada-secundaria">Por Ricardo Rubio - <a href="https://www.elperiodico.com/es/ocio-y-cultura/20240317/estopa-cerrara-gira-25o-aniversario-99575845">en el periódico</a></p>
                </div>
            </div>
        </div>
    </div>
    </main>
    <include src="src/views/footer.html"></include>
</body>
</html>
