<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
    <meta name="description" content="Página de información del Amped festival.">
    <link rel="stylesheet" type="text/css" href="../assets/styles/menu.css">

</head>
<body>
    <header class="cabecera">
        <nav>
            <ul class="menu-cabecera">
                <li><a href="categoria.html" class="{{ categoria }}">CATEGORIA</a></li>
                <li><a href="presentacion.html" class="{{ presentacion }}">PRESENTACION</a></li>
                <li><a href="enlaces.html" class="{{ enlaces }}">ENLACES</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>