h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}

dt {
    font-size: 1.3rem;
    font-family: var(--serif);
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

dl p:last-child {
    font-size: 0.8rem;
    margin-top: 0;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}


/* Enlaces */
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.container {
    width: 95%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}