:root {
    --main-color: #070e58;
    --main-color-a: #5865F2;
    --contrast-color: #a4f479;
    --contrast-color-a: rgba(254, 105, 106,0.5);
    --light-color: rgb(255,255,255);
    --bg-light: rgb(241, 245, 249);
    --bg-dark: rgb(0,0,0);
    --sans-serif:  'Fira Sans', sans-serif;
    --serif: Georgia, 'Times New Roman', serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/******* Reglas cabecera 
de las páginas  *******/
.cabecera {
    background-image: url('../images/portada.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }
  .menu-cabecera {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  nav {
    box-sizing: border-box;
    text-align: center;
    background-color: #070e58b3;
    width: 100%;
    max-width: 640px;
    height: 150px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  nav a {
      display: inline-block;
      margin: 0 10px; 
      color:  var(--light-color); ;
      font-weight: bold;
      font-size: 1.5rem;
      text-decoration: none;  
  }
  nav a.current {
      color: var(--contrast-color); 
      border-bottom: 1px solid var(--contrast-color);
      padding-bottom  : 15px;
  }
  nav a:hover {
      color: var(--contrast-color);
  }