.apartado {
    background-color: rgb(229, 225, 254);
    padding-top: 30px;
}
.separacion-pie{
    padding-bottom: 100px;
}
.opciones {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
}
.trans-left {
    animation: tilt-left 2s infinite alternate ease-in-out;
}

@keyframes tilt-left {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.trans-right {
    animation: tilt 2s infinite alternate ease-in-out;
}

@keyframes tilt {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}
.imagen {
    width: 300px;
}
.pie-foto{
    text-align: right;
    font-size: 10px;
}
.titulo-opc{
    font-weight: 700; 
    font-size: 26px;
    font-family: 'Noto Serif', serif;
}
.texto-opc{
    font-size: 20px;
}
.boton-opc{
    background-color: rgb(0, 59, 74);
    color: white;
    border: none;
    outline: none;
    padding: 8px 10px; 
    cursor: pointer;
    border-radius: 5px;
    margin-top: 25px;
    text-decoration: none;
}

.descripcion{
    text-align: center;
    margin-bottom: 75px;
}

@media (max-width: 600px) {

    .descripcion{
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;

    }

    .opciones{
        flex-direction: column;
        width: 100%;
    }

    figure{
        order: 2;
        transform: none !important;
        margin: 0;
        text-align: center;
        margin-top: 20px;
    }

    .imagen{
        width: 80%;
    }
    .pie-foto{
        text-align: center;
    }
    .texto-descripcion{
        margin-left: 10px;
        margin-right: 10px;
    }
}